

#tableTitle{
	font-weight:bold;
	font-size:25px;
	display:block;
	margin:30px auto 20px auto;
	
}
#YDNO{
	font-weight:bold;
	margin-left:30px;
}
#YDtable{
	margin-top:10px;
	font-size:12px;
	text-align:center;
}
#YDtable td{
	border:1px solid black;
}
#YDtable td span{
	margin:30px;
}
