<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyuantech.lotterydraw.dao.DRAW_RECORDMapper">
  <resultMap id="BaseResultMap" type="com.chenyuantech.lotterydraw.bean.DRAW_RECORD">
    <id column="ND" jdbcType="DECIMAL" property="ND" />
    <id column="GEN01" jdbcType="VARCHAR" property="GEN01" />
    <result column="AWARD_LEVEL" jdbcType="VARCHAR" property="AWARD_LEVEL" />
    <result column="FLAG" jdbcType="CHAR" property="FLAG" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ND, GEN01, AWARD_LEVEL, FLAG
  </sql>
  <select id="selectByExample" parameterType="com.chenyuantech.lotterydraw.bean.DRAW_RECORDExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DRAW_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.chenyuantech.lotterydraw.bean.DRAW_RECORDKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DRAW_RECORD
    where ND = #{ND,jdbcType=DECIMAL}
      and GEN01 = #{GEN01,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.chenyuantech.lotterydraw.bean.DRAW_RECORDKey">
    delete from DRAW_RECORD
    where ND = #{ND,jdbcType=DECIMAL}
      and GEN01 = #{GEN01,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.chenyuantech.lotterydraw.bean.DRAW_RECORDExample">
    delete from DRAW_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chenyuantech.lotterydraw.bean.DRAW_RECORD">
    insert into DRAW_RECORD (ND, GEN01, AWARD_LEVEL, 
      FLAG)
    values (#{ND,jdbcType=DECIMAL}, #{GEN01,jdbcType=VARCHAR}, #{AWARD_LEVEL,jdbcType=VARCHAR}, 
      #{FLAG,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chenyuantech.lotterydraw.bean.DRAW_RECORD">
    insert into DRAW_RECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ND != null">
        ND,
      </if>
      <if test="GEN01 != null">
        GEN01,
      </if>
      <if test="AWARD_LEVEL != null">
        AWARD_LEVEL,
      </if>
      <if test="FLAG != null">
        FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ND != null">
        #{ND,jdbcType=DECIMAL},
      </if>
      <if test="GEN01 != null">
        #{GEN01,jdbcType=VARCHAR},
      </if>
      <if test="AWARD_LEVEL != null">
        #{AWARD_LEVEL,jdbcType=VARCHAR},
      </if>
      <if test="FLAG != null">
        #{FLAG,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chenyuantech.lotterydraw.bean.DRAW_RECORDExample" resultType="java.lang.Long">
    select count(*) from DRAW_RECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DRAW_RECORD
    <set>
      <if test="record.ND != null">
        ND = #{record.ND,jdbcType=DECIMAL},
      </if>
      <if test="record.GEN01 != null">
        GEN01 = #{record.GEN01,jdbcType=VARCHAR},
      </if>
      <if test="record.AWARD_LEVEL != null">
        AWARD_LEVEL = #{record.AWARD_LEVEL,jdbcType=VARCHAR},
      </if>
      <if test="record.FLAG != null">
        FLAG = #{record.FLAG,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DRAW_RECORD
    set ND = #{record.ND,jdbcType=DECIMAL},
      GEN01 = #{record.GEN01,jdbcType=VARCHAR},
      AWARD_LEVEL = #{record.AWARD_LEVEL,jdbcType=VARCHAR},
      FLAG = #{record.FLAG,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenyuantech.lotterydraw.bean.DRAW_RECORD">
    update DRAW_RECORD
    <set>
      <if test="AWARD_LEVEL != null">
        AWARD_LEVEL = #{AWARD_LEVEL,jdbcType=VARCHAR},
      </if>
      <if test="FLAG != null">
        FLAG = #{FLAG,jdbcType=CHAR},
      </if>
    </set>
    where ND = #{ND,jdbcType=DECIMAL}
      and GEN01 = #{GEN01,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenyuantech.lotterydraw.bean.DRAW_RECORD">
    update DRAW_RECORD
    set AWARD_LEVEL = #{AWARD_LEVEL,jdbcType=VARCHAR},
      FLAG = #{FLAG,jdbcType=CHAR}
    where ND = #{ND,jdbcType=DECIMAL}
      and GEN01 = #{GEN01,jdbcType=VARCHAR}
  </update>
</mapper>